.header{
    /*can use sticky as position*/
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding: 20px;
    z-index: 999;
    justify-content: space-between;
    /*animation for header*/
    transition-timing-function: ease-in;
    transition: all 0.6s;
    
}

.header_logo{
    position: fixed;
    object-fit: contain;
    width: 100px;
    left: 20px;
}

.header_icon{
    position: fixed;
    object-fit: contain;
    width: 3%;
    right: 20px;
}

/*header color*/
.header_black{
    background-color: #111;
    height: 18px;
}